@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  height: 70px;
  background-color: #23242a;
  color: #23242a;
  display: flex;
  justify-content: space-between;
    
}

header img {
  height: 9rem;
  padding: 30px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  justify-content: space-between;
}

a:hover {
  color: #72E5F2;
  scale: 1.1;
  transition: .5s;
}

footer {    
  position: fixed;
  width: 100vw;    
  padding: 20px;
  text-align: center;
  background-color: #23242a;;
  bottom: 0;
}

footer p {
  color: #72E5F2;
}









main { 
  min-height: 100vh;
  background-color: #23242a;
  display: flex;
  justify-content: center;
}
section.box {
  margin-top: 30px;
  position: relative;
  width: 350px;
  height: 400px;  
  background-color: #1c1c1c;
  color: #ffffff;
  border-radius: 50px 5px;
  overflow: hidden;
}
section.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;  
  background: linear-gradient(60deg, transparent, #72E5F2, #72E5F2);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  
}
section.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;  
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  border-radius: 50px 5px;
  background-color: #28292d;
  z-index: 10;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
}