@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* Definições globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do corpo */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
}

/* Estilo do cabeçalho */
header {
    height: 70px;
    width: 100vw;
    background: linear-gradient(90deg, #010326 0%, #021859 100%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

/* Estilo da navegação */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100%;
}

/* Estilo do rodapé */
footer {
    /* position: fixed; */
    width: 99vw;    
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #010326 0%, #021859 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* Estilo do texto no rodapé */
footer p {
    color: #72E5F2;
}

/* Estilo do conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background: linear-gradient(170deg, #043290, #1c8692);
}

/* Estilo da imagem e descrição */
picture {
    display: flex;
    align-items: center;
}

/* Estilo dos links de navegação e atribuição */
.link-nav, .link-atribuicao {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    justify-content: space-between;
}

/* Estilo dos links de navegação */
.link-nav {
    border-radius: 15px;
    padding: 9px;
}

/* Estilo dos links de navegação ao passar o mouse */
.link-nav:hover {
    color: #72E5F2;
    scale: 1.1;
}

/* Estilo do logotipo */
.img-logo {
    height: 9rem;
    padding-left: 30px;
}

/* Estilo das fotos padrão */
.foto-padrao {
    width: 500px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px; 
    border-radius: 20px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.943);
}

/* Estilo da descrição */
.descricao {
    width: 490px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* Estilo dos links de atribuição */
.link-atribuicao {
    font-size: 15px;
}

/* Estilo dos links de atribuição ao passar o mouse */
.link-atribuicao:hover {
    color: #72E5F2;
    font-size: 17px;
}
