/*Estilização da tag <section> */
section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilização da tag <Figure>*/
figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding: 20px;
}

/* Estilização da tag <picture>*/
picture {
    width: 200px;
}

/* Estilização da tag <img> dentro da tag <picture>*/
picture img {
    width: 500px;
    border-radius: 35px 10em 0%;
}

/* Estilização da tag <p> dentro da tag <figure>*/
figure p {
    align-self: center;
    text-align: justify;
    width: 45%;
    font-size: 14pt;
}
