html {
  height: 100%;
  width: 100%;
}

/* Define as propriedades para a tag <Main> */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Define as propriedades para a tag <section com classe box> */
section.box {
  position: relative;
  width: 350px;
  height: 100%;
  color: #ffffff;
  border-radius: 35px 10em 0%;
  overflow: hidden;
  max-height: 550px;
}

/* Criei 2 elementos para dar o efeito de animação ao redor do form,
  usando os pseudo-elementos ::before e ::after da seção "box" e estilizei o ::before 
  da seguinte maneira :
   - o conteúdo como vazio
   - a posição como absoluta
   - a posição superior como -50% do contêiner pai
   - a posição esquerda como -50% do contêiner pai
   - a largura como 370 pixels
   - a altura como 450 pixels
   - um plano de fundo com um gradiente linear
   - a origem da transformação no canto inferior direito
   - Aplica uma animação chamada "animate" com duração de 6 segundos, linear e infinita */
section.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #72E5F2, #72E5F2);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

/* Na estilização o pseudo-elemento ::after da seção "box" a única diferença é a cor 
e um atraso de 3 segundos na animação, para não ficar na mesma posição que o ::before*/  
section.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

/* Criei uma animação chamada "animate" com duração de 6 segundos, linear e infinita
  - Iniciando com 0 grau de rotação
  - Finalizando com 360 graus de rotação */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Define as propriedades para a tag <form> */
form {
  position: absolute;
  inset: 2px;
  border-radius: 50px 5px;
  background: linear-gradient(170deg, #043290, #1c8692);
  z-index: 10;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 35px 10em 0%;
}

/* Define as propriedades para a tag <h2> presente no form */
form h2 {  
  align-self: center;
  margin-bottom: 20px;
}

/* Define as propriedades para a tag <label> presente no form */
form label {
  padding: 15px 0;
}

/* Define as propriedades para a tag <input> e <textarea> presentes no form */
form input, textarea {
  background-color: transparent;
  backdrop-filter: brightness(60%);
  border: 1px solid black;
  color: #ffffff;
}