main.container {
    padding: 2rem;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

main.container img {
    border-radius: 300px;
    width: 50vw;
}